@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Font Face */
@font-face {
    font-family: count-hill;
    src: url("../font/counthills/Counthills.otf") format("opentype");
}

@font-face {
    font-family: paris-forbel;
    src: url("../font/paris_forbel/Parisforbel.ttf") format("truetype");
}

:root{
    --poppins-font: "Poppins", sans-serif;
    --count-hill-font: count-hill;
    --paris-forbel-font: paris-forbel;
    --roboto-font: 'Roboto', sans-serif;
    --montserrat-font: 'Montserrat', sans-serif;
}

body{
    background-color: #f9f9f9;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* height: 100dvh; */
}

.section-padding{
    padding: 1.2rem 1.2rem;
}

.content-padding{
    padding: 3.7em 0 0 0;
}

